[user]
	name = Shibata Kazuki
	email = kshibata101@gmail.com
[github]
	user = kshibata101
	token = 091366629ed0c239990f22496d5eeb41
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = less -x1,5
[alias]
        st = status -s -b
        sa = status -s -b -u
        ss = stash
        sk = stash -k
        sp = stash pop
        sl = stash list
        sd = stash drop
        sw = switch
        sc = switch -c
        swd = "!f(){ git switch $1 && git branch -D @{-1} && git pull origin $1;};f"
        #ch = checkout
        #cb = checkout -b
        #chh = checkout HEAD
        br = branch -v
        bd = branch -D
        cm = commit -m
        ca = commit -a
        lg = log --pretty='format:%C(yellow)%h%Creset %C(blue)%ad%Creset%x09%C(green)%an%Creset%x09%C(red)%d %Creset%s' --date=iso
        l  = log --oneline
        ls = log --oneline --stat
        lp = log -p --stat
        mg = merge --no-ff
        mc = merge --continue
        ma = merge --abort
        rs = reset
        re = restore
        rb = rebase
        rba = rebase --abort
        rbc = rebase --continue
        rbs = rebase --skip
        ad = add --all .
        au = add -u
        ap = add -p
        rv = revert -n
        rt = remote -v
        pr = pull --rebase
        pl = pull origin
        ps = push -u origin
        df = diff
        dn = diff --name-only
        dc = diff --cached
        dt = difftool --tool=vimdiff -y
        cl = clean -f -d
        rf = reflog
        fe = fetch
        ft = fetch --tags
        fp = fetch --prune
        sb = show-branch
        sm = submodule
[pager]
        branch = cat

[tig "bind"]
        generic = g move-first-line
        generic = G move-last-line
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = private_key
	patterns = private_key_id
[init]
	templatedir = ~/.git-templates/secrets
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = false
